@charset "UTF-8"; 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
	display: block;
}

body {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: #101322;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	font-family: 'Jost', sans-serif;
}

.content {
	position: relative;
	top: 37px;
	padding-right: 16px;
	padding-left: 16px;
	padding-top: 48px;
	height: auto; max-width : 700px;
	margin: 0 auto;
	box-sizing: border-box;
	flex-direction:column;
	display: flex;
	max-width: 700px;
	min-height: 96vh;
}

.sub_header {
	background: #101322;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9000;
	height: 56px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sub_inner {
	position: relative;
	max-width: 700px;
	height: 56px;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	justify-content: space-between;
	display: flex;
}

#backButton {
	position: absolute;
	right: 96%;
	top: 36%;
	cursor: pointer;
	line-height: 1.15;
	margin: 0;
	border: none;
	background: none;
}

.inputId, .inputPw, .inputPwck {
	width: 100%;
	height: 48px;
	padding: 0px 10px;
	font-size: 14px;
	color: #efefef;
	caret-color: #4263eb;
	background: #172036;
	border: 1px solid #25304a;
	border-radius: 6px;
	box-sizing: border-box;
}

.footer {
	    width: 100%;
    max-width: 700px;
    padding: 20px 0px 0px;
    margin-top: auto;
    margin-bottom: 11px;
}

.progress-bar {
	position: relative;
	border-radius: 2px;
	left: 0.5%;
	width: 99%;
	height: 4px;
	margin-bottom: 12px;
	background: #25304a;
}

.next-btn {
	background: #3b4869;
	border-radius: 6px;
	color: #98a4b7;
	font-weight: 700;
	font-size: 16px;
	padding: 14px 0;
	width: 100%;
	height: 48px;
	color: #efefef;
	cursor: default;
	border-radius: 6px;
	border: none;
	margin-bottom: 20px;
	font-weight: 600;
	letter-spacing: -.2px;
}

.footer .progress-bar:before {
	content: "";
	position: absolute;
	border-radius: 2px;
	top: 0;
	left: 0;
	width: 42.84%;
	height: 100%;
	background: #4263eb;
	animation: loadingAnimation 2s;
}

@keyframes loadingAnimation {
	0% {
		width: 28.86%;
	}
	100% {
		width: 42.84%;
	}
}
.btnClearId,.btnClearPw, .btnClearPwck{
display:none;
	border: none;
	background: none;
}

h1 {
	margin: 0 auto;
	padding: 0 60px;
	box-sizing: border-box;
	max-width: 700px;
	height: 56px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 56px;
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	letter-spacing: -.02em;
	color: #efefef;
	transition: all .3s ease-in;
}

.btnClearId {
	position: absolute;
	top: 87px;
	right: 30px;
	display:block;
	cursor: pointer;
}

.btnClearPw {
	position: absolute;
    top: 181px;
    right: 30px;
    cursor: pointer;
    display: block;
}

.btnClearPwck {
	    position: absolute;
    display: block;
    top: 274px;
    right: 29px;
    cursor: pointer;
}

#pw-eye {
	position: absolute;
    right: 63px;
   top: 188px;
}

#pwck-eye {
	    position: absolute;
    right: 63px;
    top: 281px;
}
label {
	width: 100%;
	font-weight: 600;
	font-size: 13px;
	color: #bdc6d5;
}

.wrapper_id, .wrapper_pw {
	margin-bottom: 25px;
}

span {
	position: absolute;
	color: rgb(240, 62, 62);
	font-size: 12px;
	margin-top: 4px;
}
.wrapper_pwck{
margin-bottom: 120px;
}
::placeholder {
    color: RGB(88, 106, 133);
}
