@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
	display: block;
}

body {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: #101322;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	font-family: 'Jost', sans-serif;
}

.content {
		position: relative;
	top: 37px;
	padding-right: 16px;
	padding-left: 16px;
	padding-top: 48px;
	height: auto; max-width : 700px;
	margin: 0 auto;
	box-sizing: border-box;
	flex-direction:column;
	display: flex;
	max-width: 700px;
	min-height: 96vh;
}

.sub_header {
	background: #101322;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9000;
	height: 56px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sub_inner {
	position: relative;
	max-width: 700px;
	height: 56px;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	justify-content: space-between;
	display: flex;
}

#backButton {
	position: absolute;
	right: 96%;
	top: 36%;
	cursor: pointer;
	line-height: 1.15;
	margin: 0;
	border: none;
	background: none;
}

  .navi a{
        position: relative;
    top: 7px;
    width: 175px;
    text-align: center;
}
  }
i{
color:white;
}
.box{
width:100%;
height:100vh;

}

.header{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99999;
    height:56px;
    width: 100%;
    padding-bottom: calc(env(safe-area-inset-bottom));
    border-bottom: 0;
    will-change: transform;
    background: #101322;
    box-shadow: 0 -4px 16px rgba(16,16,16,.48);
}
.navi {
     display: flex;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}
a{
display: block;
    flex: 1 1 25%;
    height: 56px;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: #98a4b7;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

span{
position:relative;
bottom:5px;
font-size:12px;
}
i {
  
    transition: background-color 0.2s ease-in-out;
}

a:hover {
    color: white; 
}
.next-btn {
	background: #3b4869;
	border-radius: 6px;
	color: #98a4b7;
	font-weight: 700;
	font-size: 16px;
	padding: 14px 0;
	width: 100%;
	height: 48px;
	color: #efefef;
	cursor: default;
	border-radius: 6px;
	border: none;
	margin-bottom: 80px;
	font-weight: 600;
	letter-spacing: -.2px;
}
.footer {
	width: 100%;
    max-width: 700px;
    padding: 20px 0px 0px;
    margin-top: auto;
    margin-bottom: 11px;
}
h1 {
	margin: 0 auto;
	padding: 0 60px;
	box-sizing: border-box;
	max-width: 700px;
	height: 56px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 56px;
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	letter-spacing: -.02em;
	color: #efefef;
	transition: all .3s ease-in;
}
.MyId,.updateNick,.updatePw,.updateTel,.updateAddress{
	width: 100%;
	height: 48px;
	padding: 0px 10px;
	font-size: 14px;
	color: #efefef;
	caret-color: #4263eb;
	background: #172036;
	border: 1px solid #25304a;
	border-radius: 6px;
	box-sizing: border-box;
	background: #25304a;
	margin-bottom: 30px;
}
.MyId{
	background: #101322;
	font-color: #98A4B7;
    border: 1px solid #25304a;
}
label {
	width: 100%;
	font-weight: 600;
	font-size: 13px;
	color: #bdc6d5;
}
#MyId,#updatePw,#updateNick,#updateAddress{
font-size:14px;
}
#pwck,#nickck, #telck{
	position: relative;
	color: rgb(240, 62, 62);
	font-size: 12px;
	bottom: 27px;
}
.btnClearPw {
position: absolute;
        top: 184px;
    right: 30px;
    cursor: pointer;
    display: block;
}
#pw-eye {
	position: absolute;
       right: 63px;
    top: 191px;
}
.btnClearPw{
	border: none;
	background: none;
}
.wrapper_Si,
.wrapper_Gu {
  display: inline-block;
  width: 48%;
  margin-bottom: 25px;
}
.wrapper_Gu {
margin-left: 21px;
}
.inputAddr_Si,
.inputAddr_Gu {
  width: 100%;
  height: 48px;
  padding: 0px 10px;
  font-size: 14px;
  color: #efefef;
  background: #25304A;
  border: 1px solid #25304a;
  border-radius: 6px;
  box-sizing: border-box;
}
.btnClearNick {
	position: absolute;
	top: 285px;
	right: 30px;
	display: content;
	cursor: pointer;
}
.btnClearNick{
display:none;
	border: none;
	background: none;
}
.btnClearTel {
	position: absolute;
    top: 403px;
    right: 30px;
    display: block;
    cursor: pointer;
}
.btnClearTel{
	border: none;
	background: none;
}